<div class="container">
  <div class="row">
    <div class="col s9">
      <h4>Blocking Rainwater and Preventing Sewer Backup</h4>
      <p>Looking out the window as one flies into O'Hare airport, a sea of rooftops fills the Chicago landscape. And off those
        rooftops, much rain does run - straight into the city's sewer system.</p>
      <p>With an abundance of buildings, streets and parking lots, urban areas have very little green space to absorb or slow
        down the onslaught of water in a heavy rain. It's especially a problem in the City of Chicago, a city built on a
        swamp. The high water table contributes to slower absorption rates and more water flowing overland to fill the city's
        sewers - an interconnected system carrying both storm runoff and sanitary sewer waste.</p>
      <p>Chicago's long and colorful history includes troublesome tales of flooded homes filled with five feet of contaminated,
        bacteria-carrying water from sewer backup. Residents have had to clear muck, throw out possessions and redo their
        basements - time and time again. It's no wonder that a solution is top priority for these urban citizens.</p>
      <p>After the flood of 1997 caused hardship and property loss for some 35,000 residents of its close to three million population,
        city officials took action. They first asked themselves, 'How do we prevent the system from reaching maximum capacity?'
        Slowing the heavy inflow of rainwater into the sewer system at the peak of the storm was the answer.</p>
       <br />
       <auth-login></auth-login> 

    </div>
    <div class="col s3">
      <article class="card-panel purple-text text-darken-2 lighten-4">
        <ul>
          <li>
            <a href="" [routerLink]="['/login']">Login</a>
          </li>
          <li>
            <a href="" [routerLink]="['/upload-file']">Upload File</a>
          </li>
        </ul>
      </article>
    </div>
  </div>
</div>