<div class="container">
    <div class="row">
      <div class="col s9">
        <h4>Blocking Rainwater and Preventing Sewer Backup</h4>
      <p>Looking out the window as one flies into O'Hare airport, a sea of rooftops fills the Chicago landscape. And off those
        rooftops, much rain does run - straight into the city's sewer system.</p>
      <p>With an abundance of buildings, streets and parking lots, urban areas have very little green space to absorb or slow
        down the onslaught of water in a heavy rain. It's especially a problem in the City of Chicago, a city built on a
        swamp. The high water table contributes to slower absorption rates and more water flowing overland to fill the city's
        sewers - an interconnected system carrying both storm runoff and sanitary sewer waste.</p>
      <p>Chicago's long and colorful history includes troublesome tales of flooded homes filled with five feet of contaminated,
        bacteria-carrying water from sewer backup. Residents have had to clear muck, throw out possessions and redo their
        basements - time and time again. It's no wonder that a solution is top priority for these urban citizens.</p>
      <p>After the flood of 1997 caused hardship and property loss for some 35,000 residents of its close to three million population,
        city officials took action. They first asked themselves, 'How do we prevent the system from reaching maximum capacity?'
        Slowing the heavy inflow of rainwater into the sewer system at the peak of the storm was the answer.</p>
      <p>To accomplish this, city officials formulated a two-pronged strategy: install mechanical devices called inlet restrictor
        valves and promote downspout disconnection by homeowners citywide. Purchase and installation cost $75 million dollars.
        This was about a quarter of what traditional sewer system improvements would have cost. Near Chicago, the City of
        Evanston has installed a similar valve system that has helped reduce basement backup.</p>
      <p>A $7.8 million grant from the Federal Emergency Management Agency Hazard Mitigation Grant Program (HMGP) jumpstarted
        the Chicago project in 1998 by funding a pilot program in three areas of the city that were repetitively hit with
        basement flooding. John Roberson, Chicago Sewer Department Commissioner, said, "In every subsequent rain that we've
        had since the pilot program was implemented, the pilot areas have not experienced the type of flooding they normally
        would have."</p>
      <p><strong>Slowing the Flow </strong></p>
      <p>Chicago initiated its inlet control valve system (called the "Rainblocker" program) as one facet of a multi-dimension
        concept.</p>
      <p><img src="https://www.cityofchicago.org/dam/city/depts/bldgs/general/Sewers/BlockingRainwaterAndPreventingSewerBackup.gif"
          border="0" style="float: left;" alt="DWM workers installed close to 200,000 inlet restrictor valves into Chicago's street catch basins, at a rate of 90 to 120 per day. "
          title="DWM workers installed close to 200,000 inlet restrictor valves into Chicago's street catch basins, at a rate of 90 to 120 per day. "
          width="300" height="300" />When the restrictor valve is installed in the storm water catch basin in the street, the
        device, in essence, shrinks the pipe to funnel and regulate the water from the street to the main sewer line. During
        a heavy rain event, the smaller opening allows less water into the sewer system. The streets act as a temporary holding
        area for the rainfall. Surplus water in the system will not be forcing contaminated water back through homeowners'
        private lines and into the home's lowest spot - the basement. The street ponding buys time for the system to catch
        up.</p>
      <p><strong>A Work in Progress</strong></p>
      <p>The city is the first to recognize flooding problems still exist. Flooded streets, a problem deemed preferable to flooded
        basements, are an acknowledged byproduct of the valve system because of the restricted flow of water into the sewers.
        In the recent rains, some residents reported only a couple of inches of water where in previous storms their basements
        had held over a foot of water. In some instances, however, homes that had never been flooded before were flooded
        in this last event due to ponded runoff entering basement windows and doors.</p>
      <p>&nbsp;</p>
      <p>When Mother Nature decides to dump four inches of rain in little over an hour, it's difficult for any man-made system
        to handle such a rain event. Private lines may be blocked or damaged. Downspouts add millions of gallons of clean
        water to the sewers. Streets fill up and water flows overland, sometimes causing flooding.</p>
      <p>The "Rainblocker" program is clearly a work in progress, but if basement backup has been minimized each time it rains,
        then it appears the city is headed in the right direction. This system requires combined efforts from city officials
        and all impacted citizens. In the next phase of resolving bottlenecks in the system, the Chicago Sewer Department
        is working with City Aldermen to identify over-the-curb flooding of homes and to evaluate areas that continue to
        experience basement flooding.</p>
      </div>
      <div class="col s3">
        <article class="card-panel purple-text text-darken-2 lighten-4">
          <ul>
            <li>
              <a href="" [routerLink]="['/login']">Login</a>
            </li>
            <li>
              <a href="" [routerLink]="['/upload-file']">Upload File</a>
            </li>
          </ul>
        </article>
      </div>
    </div>
  </div>
